<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [1]:
import pandas as pd
import psycopg2
import numpy as np

In [3]:
connection = psycopg2.connect(
    dbname=dbname,
    user=user,
    host=host,
    password=password,
    port=port
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [ ]:
# Ключевое слово SELECT указывает, какие данные мы хотим выбрать. Функция count(*) возвращает количество строк,
# знак "*" показывает, что выбираются все строки,
# ключевое слово FROM указывает, из какой таблицы мы хотим выбрать данные.
query_3_1 = f'''SELECT count(*)
FROM vacancies
'''
# Чтобы получить результаты запроса в виде DataFrame используем метод read_sql_query()
df = pd.read_sql_query(query_3_1, connection)

<ipython-input-28-c38c50790c75>:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1, connection)

In [ ]:
print(df)

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [ ]:
# Запрос такой же как в 3.1, но таблицу выбираем employers, так как количество строк в ней равно количеству работодателей
# (id - уникальный код работодателя)
query_3_2 = f'''SELECT count(*)
FROM employers
'''
df1 = pd.read_sql_query(query_3_2, connection)

<ipython-input-86-d1044269cd56>:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query(query_3_2, connection)

In [ ]:
print(df1)

   count
0  23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [ ]:
# Запрос аналогичен 3.1 и 3.2 но с таблицей areas
query_3_3 = f'''SELECT count(*)
FROM areas
'''
df2 = pd.read_sql_query(query_3_3, connection)

<ipython-input-92-2f28f485c53e>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql_query(query_3_3, connection)

In [ ]:
print(df2)

   count
0   1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [ ]:
# Запрос аналогичен 3.1 и 3.2, 3.3 но с таблицей industries
query_3_4 = f'''SELECT count(*)
FROM industries
'''
df3 = pd.read_sql_query(query_3_4, connection)

<ipython-input-94-7cd4835c140f>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql_query(query_3_4, connection)

In [ ]:
print(df3)

   count
0    294

***

In [ ]:
# выводы по предварительному анализу данных
# В таблицах "project_sql" содержится иформация о 49197 вакансиях, предоставленными 23501 рвботодателями.
# Вакансии размещены в 1362 регионах и включают 294 сферы деятельности.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [ ]:
query_4_1 = f'''SELECT a.name, count(v.area_id) cnt
FROM areas a
JOIN vacancies v ON v.area_id = a.id
GROUP BY a.name
ORDER BY count(v.area_id) DESC
LIMIT 5
'''
df4 = pd.read_sql_query(query_4_1, connection)

<ipython-input-101-0bd5a0eeb150>:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4 = pd.read_sql_query(query_4_1, connection)

In [ ]:
print(df4)

              name   cnt
0           Москва  5333
1  Санкт-Петербург  2851
2            Минск  2112
3      Новосибирск  2006
4           Алматы  1892

# Комментарии к заданию 4.1
1. Выбираем столбец "name" из таблицы "areas", "count(v.area_id) cnt" вычисляет количество записей в таблице vacancies, где area_id равен id из таблицы areas. Результат помещен в столбец "cnt"
2.
`FROM areas a JOIN vacancies v ON v.area_id = a.id` объединяет таблицы "areas" и "vacancies" по ключам id и area_id соответственно.
3. При помощи "GROUP BY a.name" данные группируются по столбцу "name" из таблицы "areas".
4. `ORDER BY count(v.area_id) DESC`. Сортируем результаты по убыванию количества вакансий в каждой области.
5. `LIMIT 5 `. Оставляем первые пять строк отсортированного списка.

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [ ]:
query_4_2 = f'''SELECT count(v.id)
FROM vacancies v
WHERE v.salary_from IS NOT NULL OR v.salary_to IS NOT NULL
'''
df5 = pd.read_sql_query(query_4_2, connection)

<ipython-input-102-fa4cd1dbc6d2>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df5 = pd.read_sql_query(query_4_2, connection)

In [ ]:
print(df5)

   count
0  24073

# Комментарии к заданию 4.2
1. `count(v.id)` подсчитывает количество непустых записей в таблице "vacancies".
2.
`FROM vacancies v` показывает источник данных - таблица "vacancies".
3. `WHERE v.salary_from IS NOT NULL OR v.salary_to IS NOT NULL` - задаем условие отбора строк: или поле "salary_from" или "salary_to" должно быть непустым.

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [ ]:
query_4_3 = f'''SELECT AVG(v.salary_from) salary_from, AVG(v.salary_to) salary_to
FROM vacancies v
'''
df7 = pd.read_sql_query(query_4_3, connection)

<ipython-input-107-84882a1c9754>:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df7 = pd.read_sql_query(query_4_3, connection)

In [ ]:
print(df7)

    salary_from      salary_to
0  71064.657901  110536.741923

# Комментарии к заданию 4.3
1. `count(v.id)` подсчитывает количество непустых записей в таблице "vacancies".
2. `FROM vacancies v` показывает источник данных - таблица "vacancies".
3. `WHERE v.salary_from IS NOT NULL OR v.salary_to IS NOT NULL` - задаем условие отбора строк: или поле "salary_from" или "salary_to" должно быть непустым.

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [ ]:
query_4_4 = f'''SELECT schedule, employment, count(id)
FROM vacancies
GROUP BY schedule, employment
ORDER BY count(id) DESC
'''
df8 = pd.read_sql_query(query_4_4, connection)

<ipython-input-114-0d75ef198bb4>:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df8 = pd.read_sql_query(query_4_4, connection)

In [ ]:
print(df8)

            schedule           employment  count
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

# Комментарии к заданию 4.4
1. Для запроса понадобится одна таблица - "vacancies". Из нее выбираем столбцы
"schedule" и "employment".
2. `GROUP BY schedule, employment` - группирует таблицу по полям "schedule" и "employment". В результате получаем все сочетания рабочего графика и типа трудоустройства.
3. Для каждого сочетания подсчитывается количество вакансий `count(v.id)`

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [ ]:
query_4_5 = f'''SELECT experience, count(id)
FROM vacancies
GROUP BY experience
ORDER BY count(id)
'''
df9 = pd.read_sql_query(query_4_5, connection)

<ipython-input-116-8251243c2120>:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df9 = pd.read_sql_query(query_4_5, connection)

In [ ]:
print(df9)

           experience  count
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

# Комментарии к заданию 4.5
1. Из таблицы "vacancies" выбираем столбец "experience" `SELECT experience`
2. `GROUP BY experience` - проводим группировку по полю "experience".
3. Для каждой группы подсчитываем количество вакансий `count(v.id)`
4. Сортируем по количеству вакансий `ORDER BY count(id)`.

***

In [ ]:
# выводы по детальному анализу вакансий
# 1. Лидерами по количеству вакансий яляются крупные города: столицы и областные центры с развитой экономикой и инфраструктурой.
# 2. Большинство работодателей предпочитают не сообщать заранее уровень зарплат по вакансиям.
# 3. Средние значения предлагаемых зарплат от 71 до 110 тыс. руб,
# 4. Самое популярное сочетание типа рабочего графика (schedule) и типа трудоустройства (employment): "Удалённая работа — Полная занятость".
# 5. Количество вакансий возрастает в ряду "Более 6 лет — Нет опыта — От 3 до 6 лет — От 1 года до 3 лет".
#  Здравый смысл подсказывает что вакансий для более опытных работников должно быть больше. Возможное объяснение: работодатель указывает минимальный необходимый опыт работы.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
query_5_1 = f'''SELECT e.name, count(v.id)
FROM vacancies v
JOIN employers e ON v.employer_id = e.id
GROUP BY e.name
ORDER BY count(v.id) DESC
LIMIT 5
'''
df10 = pd.read_sql_query(query_5_1, connection)

<ipython-input-119-12a68b5bca8b>:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df10 = pd.read_sql_query(query_5_1, connection)

In [ ]:
print(df10)

            name  count
0         Яндекс   1933
1     Ростелеком    491
2       Тинькофф    444
3           СБЕР    428
4  Газпром нефть    331

# Комментарии к заданию 5.1
1. `SELECT e.name, count(v.id)` выбираем столбцы для вывода данных.
2. `FROM vacancies v` `JOIN employers e` объединяем таблицы "vacancies" и "employers" по ключам `v.employer_id = e.id`.
3. `GROUP BY experience` - проводим группировку по полю "e.name".
4. Для каждой группы подсчитываем количество вакансий `count(v.id)`
5. Сортируем по убыванию количества вакансий `ORDER BY count(id) DESC`.
6. Оставляем 5 верхних строк.

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
# запрос для определения количества работодателей и вакансий в каждом регионе
query_5_2 = f'''SELECT a.name AS region, count(DISTINCT e.id) AS employers_count,
                count(DISTINCT v.id) AS vacancies_count
FROM areas a
LEFT JOIN employers e ON e.area = a.id
LEFT JOIN vacancies v ON v.area_id = a.id
GROUP BY a.id
ORDER BY count(DISTINCT v.id) DESC, count(DISTINCT e.id) DESC
'''
df11 = pd.read_sql_query(query_5_2, connection)

<ipython-input-132-50e97effac15>:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df11 = pd.read_sql_query(query_5_2, connection)

In [ ]:
df11.head()

            region  employers_count  vacancies_count
0           Москва             5864             5333
1  Санкт-Петербург             2217             2851
2            Минск             1115             2112
3      Новосибирск              573             2006
4           Алматы              721             1892

# Комментарии к заданию 5.2
1. `SELECT a.name AS region` выбираем столбец "name" из таблицы "areas".
2. `count(DISTINCT e.id) AS employers_count` дает количество уникальных записей в таблице "employers". Результатом будет столбец "employers_count".
3. `count(DISTINCT v.id) AS vacancies_count` дает количество уникальных записей в таблице "vacancies". Результатом будет столбец "vacancies_count".
4. `FROM areas a`, `LEFT JOIN employers e ON e.area = a.id` и `LEFT JOIN vacancies v ON v.area_id = a.id` объединяют таблицы "areas", "employers" и "vacancies" по ключам id, area и area_id соответственно. Используется `LEFT JOIN`, чтобы включить все области из таблицы "areas", даже если в таблицах "employers" и "vacancies" нет соответствующих значений.
6. `GROUP BY a.id` группирует результаты по столбцу id из таблицы "areas".
7. `ORDER BY count(DISTINCT v.id) DESC, count(DISTINCT e.id) DESC` - сортируем результаты по убыванию количества вакансий в каждой области, а затем по убыванию количества работодателей.

In [ ]:
# Запрос для определения региона с наибольшим количеством работодателей среди регионов, в которых нет вакансий.
query_5_2_1 = f'''SELECT a.name AS region, count(DISTINCT e.id) AS employers_count
FROM areas a
LEFT JOIN employers e ON e.area = a.id
WHERE a.id NOT IN (SELECT area_id FROM vacancies)
GROUP BY a.id
ORDER BY count(DISTINCT e.id) DESC
LIMIT 1
'''
df12 = pd.read_sql_query(query_5_2_1, connection)

<ipython-input-130-900fc18d3db6>:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df12 = pd.read_sql_query(query_5_2_1, connection)

In [ ]:
print(df12)

   region  employers_count
0  Россия              410

# Комментарии к заданию 5.2.1
1. `SELECT a.name AS region, count(DISTINCT e.id) AS employers_count`
Выбираем название региона из таблицы "areas", определяем количество уникальных работодателей в каждом регионе.
2. `FROM areas a`, `LEFT JOIN employers e ON e.area = a.id` К основной таблице "areas" присоединяем таблицу "employers" по ключу "area". LEFT JOIN означает, что будут выбраны все записи из таблицы "areas", даже если для них нет соответствующих записей в таблице "employers".
3 `WHERE a.id NOT IN (SELECT area_id FROM vacancies)` фильтруем регионы, исключая те, которые присутствуют в подзапросе. Подзапрос выбирает все "area_id" из таблицы vacancies. Таким образом, остаются только те регионы, в которых нет вакансий.
4. `GROUP BY a.id` группируем результаты по идентификатору региона (a.id).
5. `ORDER BY count(DISTINCT e.id) DESC` - сортируем результаты по количеству уникальных работодателей в порядке убывания.
6. `LIMIT 1` оставляем один регион с наибольшим количеством уникальных работодателей.

.

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
query_5_3 = f'''SELECT e.name, count(DISTINCT v.area_id)
FROM employers e
JOIN vacancies v ON v.employer_id = e.id
GROUP BY e.id
ORDER BY count(DISTINCT v.area_id) DESC
'''
df13 = pd.read_sql_query(query_5_3, connection)

<ipython-input-133-983beac55fef>:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df13 = pd.read_sql_query(query_5_3, connection)

In [ ]:
df13.head()

                     name  count
0                  Яндекс    181
1              Ростелеком    152
2              Спецремонт    116
3  Поляков Денис Иванович     88
4               ООО ЕФИН      71

# Комментарии к заданию 5.3
1. `SELECT e.name, count(DISTINCT v.area_id)`
Выбираем название работодателя из таблицы "employres", определяем количество уникальных регионов в, котрых работодатель публикует вакансии по таблице "vacancies".
2. `FROM employers e`, `JOIN vacancies v ON v.employer_id = e.id` К основной таблице "employers" присоединяем таблицу "vacancies" по ключам "v.employer_id" и "e.id".
4. `GROUP BY e.id` группируем результаты по идентификатору работодателя (e.id).
5. `ORDER BY count(DISTINCT v.area_id) DESC` - сортируем по количеству уникальных регионов в порядке убывания.

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
query_5_4 = f'''SELECT COUNT(e.id)
FROM employers e
LEFT JOIN employers_industries ei ON ei.employer_id = e.id
WHERE ei.industry_id is null

'''
df14 = pd.read_sql_query(query_5_4, connection)

<ipython-input-135-ddef7b60111b>:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df14 = pd.read_sql_query(query_5_4, connection)

In [ ]:
print(df14)

   count
0   8419

# Комментарии к заданию 5.4
1. `SELECT count(e.id)` - считаем уникальных работодателей.
2. `FROM employers e` `LEFT JOIN employers_industries ei ON ei.employer_id = e`id` - к основной таблице "employers" присоединяем таблицу "employrs_industries" по ключам "ei.employer_id" и "e.id".
4. `WHERE ei.industry_id is null` Применяем условие, по которому в запрос попадают только, те работодатели, для которых не указана сфера деятельности.

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
query_5_5 = f'''SELECT DISTINCT e.name
FROM employers e
JOIN employers_industries ei ON ei.employer_id = e.id
GROUP BY e.id
HAVING COUNT(ei.industry_id) = 4
ORDER BY 1
OFFSET 2 LIMIT 1
'''
df15 = pd.read_sql_query(query_5_5, connection)

<ipython-input-15-839dff60fa93>:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df15 = pd.read_sql_query(query_5_5, connection)

In [ ]:
print(df15)

   name
0  2ГИС

# Комментарии к заданию 5.5
1. `SELECT DISTINCT e.name` - Выбираем название работодателя из таблицы "employres".
2. `FROM employers e`, `JOIN employers_industries ei ON ei.employer_id = e.id`  к основной таблице "employers" присоединяем таблицу "employrs_industries" по ключам "ei.employer_id" и "e.id".
3. `GROUP BY e.id` - группируем по id работодателя.
4. `HAVING COUNT(ei.industry_id) = 4` - применяем условие "количество сфер деятельности равно четырем" для сгруппировнного столбца работодателей.
5. `ORDER BY 1` - сортируем по названию работодателей.
6. `OFFSET 2 LIMIT 1` - оставляем компанию , находящуюся на третьем месте в отсортированном столбце.

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [ ]:
query_5_6 = f'''SELECT COUNT(ei.employer_id)
FROM employers_industries ei
JOIN industries i ON ei.industry_id = i.id
WHERE i.name = 'Разработка программного обеспечения'
'''
df16 = pd.read_sql_query(query_5_6, connection)

<ipython-input-19-861fe4d1990b>:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df16 = pd.read_sql_query(query_5_6, connection)

In [ ]:
print(df16)

   count
0   3553

# Комментарии к заданию 5.6
1. `SELECT COUNT(ei.employer_id)` - считаем количество работодателей из таблицы "employres_industries".
2. `FROM employers_industries ei`, `JOIN industries i ON ei.industry_id = i.id` - к основной таблице "employres_industries" присоединяем таблицу "industries" по ключам "ei.industry_id" и "i.id".
3. `WHERE i.name = 'Разработка программного обеспечения'` - применяем условие отбора строк: сферой деятельности должна быть разработка программного обеспечения.

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8).

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [ ]:
import requests
from bs4 import BeautifulSoup

# URL страницы с городами-миллионниками
url = 'https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8'

# Отправка запроса на страницу
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Поиск всех таблиц на странице
tables = soup.find_all('table')

# Инициализация списка для городов
cities = []

# Проверка всех таблиц на наличие нужных данных
for table in tables:
    headers = [header.text.strip() for header in table.find_all('th')]
    if 'Город' in headers:
        # Извлечение данных из таблицы
        for row in table.find_all('tr')[1:]:
            columns = row.find_all('td')
            if len(columns) > 1:
                city_name = columns[1].text.strip()
                if city_name and not city_name.startswith('Порядковые места'):
                    cities.append(city_name)
        break
print(cities)

['Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Казань', 'Красноярск', 'Нижний Новгород', 'Челябинск', 'Уфа', 'Самара', 'Ростов-на-Дону', 'Краснодар', 'Омск', 'Воронеж', 'Пермь', 'Волгоград']

In [ ]:
cities_str = ', '.join(f"'{city}'" for city in cities)
query_5_7 = f'''SELECT
    COALESCE(a.name, 'total') AS name,
    COUNT(v.id) AS cnt
FROM vacancies v
JOIN areas a ON v.area_id = a.id
JOIN employers e ON e.id = v.employer_id
WHERE a.name IN ({cities_str})
  AND e.name = 'Яндекс'
GROUP BY ROLLUP(a.name);

'''
df17 = pd.read_sql_query(query_5_7, connection)

<ipython-input-26-c8ff96161d01>:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df17 = pd.read_sql_query(query_5_7, connection)

In [ ]:
print(df17)

               name  cnt
0             total  485
1            Казань   25
2   Нижний Новгород   36
3      Екатеринбург   39
4       Новосибирск   35
5        Красноярск   23
6              Омск   21
7           Воронеж   32
8             Пермь   25
9               Уфа   26
10        Челябинск   22
11           Москва   54
12  Санкт-Петербург   42
13        Волгоград   24
14           Самара   26
15   Ростов-на-Дону   25
16        Краснодар   30

# Комментарии к заданию 5.7
1. `cities_str = ', '.join(f"'{city}'" for city in cities)` - список городов преобразуем в строку, где каждый город заключен в кавычки и разделен запятыми.
2. `COALESCE(a.name, 'total') AS name` - функция COALESCE используется для замены значения NULL на ‘total’ в итоговой строке.
3. `COUNT(v.id) AS cnt` `FROM vacancies v` подсчитываем количество вакансий из таблицы "vacancies"
4. `JOIN areas a ON v.area_id = a.id`, `JOIN employers e ON e.id = v.employer_id` - к основной таблице "vacancies" присоединяем таблицу "areas" по ключу "a.id" и "employers" по ключу "e.id".
5. `WHERE a.name IN ({cities_str})` - применяем условие отбора строк: регион, в котором представлены компании должен быть в списке  городов-миллионников.
6. `GROUP BY ROLLUP(a.name)` группируем по названию региона. Оператор "ROLLUP" добавляет итоговую строку с суммарным количеством вакансий для всех указанных городов.

In [ ]:
# Выводы по анализу работодателей
# 1. Абсолютным лидером по числу вакансий является компания "Яндекс" - крупнейшая IT -компания. "Газпром", идущий на пятом месте отстает от
#  "Яндекса" в 6 раз! Много вакансий у крупных банков и сотовых операторов.
# 2. Лидерами по количеству работодателей яляются крупные города: столицы и областные центры с развитой экономикой и инфраструктурой.
# 3. Несколько неожиданным оказался результат запроса количества регионов в которых размещены вакансии работодателей. Если с "Яндексом" все понятно,
# то как мог оказаться в лидерах Поляков Денис Иванович?? Кто это вообще?
# 4. Имеется большое количество работодателей, не указывающих сферу деятельности.
# 5. Весьма востребованны разработчики ПО.
# 6. Количество вакансий возрастает в ряду "Более 6 лет — Нет опыта — От 3 до 6 лет — От 1 года до 3 лет".
# Здравый смысл подсказывает что вакансий для более опытных работников должно быть больше. Возможное объяснение: работодатель указывает минимальный необходимый опыт работы.

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
query_6_1 = f'''SELECT COUNT(v.id)
FROM vacancies v
WHERE lower(v.name) LIKE '%данн%' OR lower(v.name) LIKE '%data%'
'''
df18 = pd.read_sql_query(query_6_1, connection)

<ipython-input-4-9b0ef8be2118>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df18 = pd.read_sql_query(query_6_1, connection)

In [ ]:
print(df18)

   count
0   1771

# Комментарии к заданию 6.1
1. `SELECT COUNT(v.id)` `FROM vacancies v`  подсчитываем количество вакансий из таблицы "vacancies"
2. `WHERE lower(v.name) LIKE '%данн%' OR lower(v.name) LIKE '%data%'` - применяем условие отбора строк: прведенные к нижнему регистру названия вакансий должны содержать "данн" или "data".

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста?
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
query_6_2 = f'''SELECT COUNT(*)
FROM vacancies
WHERE (
    name ILIKE '%data scientist%' OR
    name ILIKE '%data science%' OR
    name ILIKE '%исследователь данных%' OR
    (name LIKE '%ML%' AND name NOT LIKE '%HTML%') OR
    name ILIKE '%machine learning%' OR
    name ILIKE '%машинн%обучен%'
) AND (
    name ILIKE '%junior%' OR
    experience = 'Нет опыта' OR
    employment = 'Стажировка'
);
'''
df19 = pd.read_sql_query(query_6_2, connection)

<ipython-input-8-0f52fa1718d8>:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df19 = pd.read_sql_query(query_6_2, connection)

In [ ]:
print(df19)

   count
0     51

# Комментарии к заданию 6.2
1. `SELECT COUNT(*)` `FROM vacancies`  подсчитываем количество строк из таблицы "vacancies"
2. `WHERE (
    name ILIKE '%data scientist%' OR
    name ILIKE '%data science%' OR
    name ILIKE '%исследователь данных%' OR
    (name LIKE '%ML%' AND name NOT LIKE '%HTML%') OR
    name ILIKE '%machine learning%' OR
    name ILIKE '%машинн%обучен%'
) AND (
    name ILIKE '%junior%' OR
    experience = 'Нет опыта' OR
    employment = 'Стажировка'
);` - условие отбора строк состоит из двух частей, связанных логическим "И". Первая часть: названия вакансий должны содержать "data scientist" или "data science" или "исследователь данных" или "machine learnin" или "машинн%обучен" без учета регистра или "XM" и не "HTML" с учетом регистра. Вторая часть: в названии должно встречаться слово 'junior' или требуемый опыт — "Нет опыта" или
тип трудоустройства — "Стажировка".

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [5]:
query_6_3 = f'''SELECT COUNT(*)
FROM vacancies
WHERE (
    name ILIKE '%data scientist%' OR
    name ILIKE '%data science%' OR
    name ILIKE '%исследователь данных%' OR
    (name ILIKE '%ML%' AND name NOT ILIKE '%HTML%') OR
    name ILIKE '%machine learning%' OR
    name ILIKE '%машинн%обучен%'
) AND (key_skills LIKE '%SQL%' OR key_skills LIKE '%postgres%')

'''
df20 = pd.read_sql_query(query_6_3, connection)

<ipython-input-5-4e51e8a68f0a>:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df20 = pd.read_sql_query(query_6_3, connection)

In [6]:
print(df20)

   count
0    229

# Комментарии к заданию 6.3
1. `SELECT COUNT(*)` `FROM vacancies`  подсчитываем количество строк из таблицы "vacancies"
2.
```
WHERE (
    name ILIKE '%data scientist%' OR
    name ILIKE '%data science%' OR
    name ILIKE '%исследователь данных%' OR
    (name ILIKE '%ML%' AND name NOT ILIKE '%HTML%') OR
    name ILIKE '%machine learning%' OR
    name ILIKE '%машинн%обучен%'
) AND (key_skills LIKE '%SQL%' OR key_skills LIKE '%postgres%')
```
Условие отбора строк состоит из двух частей связанных логическим "И". Первая часть совпадает с условиями 6.2. Вторая часть: в ключевых навыках должно содержаться "SQL" или "postgres", при этом важен регистр.

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [7]:
query_6_4 = f'''SELECT COUNT(*)
FROM vacancies
WHERE (
    name ILIKE '%data scientist%' OR
    name ILIKE '%data science%' OR
    name ILIKE '%исследователь данных%' OR
    (name ILIKE '%ML%' AND name NOT ILIKE '%HTML%') OR
    name ILIKE '%machine learning%' OR
    name ILIKE '%машинн%обучен%'
) AND (key_skills LIKE '%Python%')
'''
df21 = pd.read_sql_query(query_6_4, connection)

<ipython-input-7-6751e0635444>:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df21 = pd.read_sql_query(query_6_4, connection)

In [8]:
print(df21)

   count
0    357

# Комментарии к заданию 6.4
1. `SELECT COUNT(*)` `FROM vacancies`  подсчитываем количество строк из таблицы "vacancies"
2.
```
WHERE (
    name ILIKE '%data scientist%' OR
    name ILIKE '%data science%' OR
    name ILIKE '%исследователь данных%' OR
    (name ILIKE '%ML%' AND name NOT ILIKE '%HTML%') OR
    name ILIKE '%machine learning%' OR
    name ILIKE '%машинн%обучен%'
) AND (key_skills LIKE '%SQL%' OR key_skills LIKE '%postgres%')
```
Условие отбора строк состоит из двух частей связанных логическим "И". Первая часть совпадает с условиями 6.2. Вторая часть: в ключевых навыках должно содержаться "Python".

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [12]:
query_6_5 = f'''SELECT round(avg(length(key_skills)-length(replace(key_skills, CHR(9), ''))+1), 2) cnt_ks
FROM vacancies
WHERE (
    name ILIKE '%data scientist%' OR
    name ILIKE '%data science%' OR
    name ILIKE '%исследователь данных%' OR
    (name LIKE '%ML%' AND name NOT LIKE '%HTML%') OR
    name ILIKE '%machine learning%' OR
    name ILIKE '%машинн%обучен%')
AND key_skills IS NOT NULL
'''
df22 = pd.read_sql_query(query_6_5, connection)

<ipython-input-12-0a590c7fb479>:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df22 = pd.read_sql_query(query_6_5, connection)

In [14]:
print(df22)

   cnt_ks
0    6.41

# Комментарии к заданию 6.5
`SELECT round(avg(length(key_skills)-length(replace(key_skills, CHR(9), ‘’))+1), 2) cnt_ks`:

`length(key_skills)` - вычисляем длину строки в поле "key_skills".

`replace(key_skills, CHR(9), ‘’)` - удаляем все знаки табуляции (символы CHR(9)) из строки "key_skills".

`length(replace(key_skills, CHR(9), ‘’))` - вычисляем длину строки после удаления знаков табуляции.

`length(key_skills) - length(replace(key_skills, CHR(9), ‘’))` - вычисляем количество знаков табуляции в строке.

`+1` - добавляем 1 к количеству знаков табуляции, чтобы получить количество ключевых навыков.

`avg(…)` - вычисляем среднее количество ключевых навыков.

`round(…, 2)` - округляем результат до двух знаков после запятой.

`WHERE` задаем условия фильтрации:

`name ILIKE ‘%data scientist%’` - ищем вакансии, в названии которых есть ‘data scientist’ (независимо от регистра).

`name ILIKE ‘%data science%’` - ищем вакансии, в названии которых есть ‘data science’.

`name ILIKE ‘%исследователь данных%’` - ищем вакансии, в названии которых есть ‘исследователь данных’.

`(name LIKE ‘%ML%’ AND name NOT LIKE ‘%HTML%’)` - ищем вакансии, в названии которых есть ‘ML’, но нет ‘HTML’.

`name ILIKE ‘%machine learning%’` ищем вакансии, в названии которых есть ‘machine learning’.

`name ILIKE ‘%машинн%обучен%’`: ищем вакансии, в названии которых есть ‘машинное обучение’ или его вариации.

`key_skills IS NOT NULL` - исключаем вакансии, у которых поле "key_skills" пустое.

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*).

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [15]:
query_6_6 = f'''SELECT DISTINCT experience, AVG((COALESCE(salary_from, salary_to, null) + COALESCE(salary_to, salary_from, NULL)) / 2)
FROM vacancies
WHERE (
    name ILIKE '%data scientist%' OR
    name ILIKE '%data science%' OR
    name ILIKE '%исследователь данных%' OR
    (name LIKE '%ML%' AND name NOT LIKE '%HTML%') OR
    name ILIKE '%machine learning%' OR
    name ILIKE '%машинн%обучен%'
)
GROUP BY 1;
'''
df23 = pd.read_sql_query(query_6_6, connection)

<ipython-input-15-8bfd70f9d3ae>:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df23 = pd.read_sql_query(query_6_6, connection)

In [16]:
print(df23)

           experience            avg
0         Более 6 лет            NaN
1           Нет опыта   74642.857143
2  От 1 года до 3 лет  139674.750000
3       От 3 до 6 лет  243114.666667

# Комментарии к заданию 6.6
`SELECT DISTINCT experience, AVG((COALESCE(salary_from, salary_to, null) + COALESCE(salary_to, salary_from, NULL)) / 2)`:

`DISTINCT experience`- выбираем уникальные значения опыта (experience).

`AVG((COALESCE(salary_from, salary_to, null) + COALESCE(salary_to, salary_from, NULL)) / 2)` - вычисляем среднюю зарплату для DS. Если поля "salary_from" и "salary_to" оба заполнены для расчета среднего используется величина("salary_from" + "salary_to"). Если поле "salary_from" заполнено, а "salary_to"
нет, получаем ("salary_from" + "salary_from")/2 = "salary_from". Аналогично, если заполнено только "salary_to", получим ("salary_to" + "salary_to")/2 = "salary_to". Если незаполнены оба поля, замена "NULL" на "NULL" дает "NULL" и в результате получаем "NULL", который будет проигнорирован функцией AVG.

`WHERE` задаем условия фильтрации:

`name ILIKE ‘%data scientist%’` - ищем вакансии, в названии которых есть ‘data scientist’ (независимо от регистра).

`name ILIKE ‘%data science%’` - ищем вакансии, в названии которых есть ‘data science’.

`name ILIKE ‘%исследователь данных%’` - ищем вакансии, в названии которых есть ‘исследователь данных’.

`(name LIKE ‘%ML%’ AND name NOT LIKE ‘%HTML%’)` - ищем вакансии, в названии которых есть ‘ML’, но нет ‘HTML’.

`name ILIKE ‘%machine learning%’` ищем вакансии, в названии которых есть ‘machine learning’.

`name ILIKE ‘%машинн%обучен%’`: ищем вакансии, в названии которых есть ‘машинное обучение’ или его вариации.

***

In [ ]:
# Выводы по предметному анализу
# 1. Имеется большое количество вакансий, связанных с данными, а именно 1771,  что составляет около 4% всех вакансий.
# 2. Есть вакансии и для начинающих, причем довольно много. Их доля среди DS специалистов около 3%.
# 3. Важное значение имеет знание языка SQL. Среди вакансий, связанных с данными 13% требуют знания SQL.
# 4. Знание языка Python указано в качестве ключевого навыка в 20% DS вакансий. Я ожидал 40-50%.
# 5. В среднем для специалистов DS требуется  6 ключевых навыков.
# 6. Средняя зрплата специалистов DS для начинающих близка к средней по РФ. Для более опытных в разы больше.

# Общий вывод по проекту
1. Проведен анализ вакансий из базы Head Hunter, содержащей данные по 1362 регионам и 294 сферам деятельности.
2. Большинство рабочих мест сосредоточено в крупных городах: столицах, региональных и областных центрах с развитой экономикой и инфраструктурой.
3. Средние значения предлагаемых зарплат от 71 до 110 тыс. руб. Интересно сравнить общий уровень зарплат с зарплатами в сфере DS. Средняя зрплата специалистов DS для начинающих близка к средней по по всем вакансиям. Для специалистов с опытом работы от 3 до 6 лет, средняя зарплата примерно в 3 раза больше.
4. Как и следовало ожидать, к самым востребованным навыкам относятся владение Python и SQL (встречаются соответственно в 20 % и в 13 % DS вакансий). Большое значение имеет знание языка SQL (встречается в 13 % DS вакансий). Среди вакансий, связанных с данными 13% требуют знания SQL.
5. В среднем для специалистов DS требуется  6 ключевых навыков, так что предстоит еще много поработать.

In [ ]:
# В результате проведенного исследоввания была обработана иформация о 49197 вакансиях, предоставленными 23501 рвботодателями
# по 294 сферам деятельности. Если не вдаваться в детали, то болеше всего вакансий, причем наиболее привлекательных по зарплате предоставляют
# компании, работающие с данными.
# Пожалуй самый важный показатель при выборе вакансии - уровень зарплаты. В связи с этим было бы интересно узнать, какие ключевые навыки дают наибольший прирост
# к средней зарплате. Выясним это, сравнением средних зарплат для вакансий, в которых встречаются основные ключевые навыки специалиста DS.
# Выбираем нужные столбцы из таблицы vacancies и сохраняем в DataFrame.
query_47 = f'''SELECT
    v.id,
    v.key_skills,
    v.salary_from,
    v.salary_to
FROM
    vacancies v
WHERE
    v.name ILIKE '%data scientist%' OR
    v.name ILIKE '%data science%' OR
    v.name ILIKE '%исследователь данных%' OR
    (v.name ILIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR
    v.name ILIKE '%machine learning%' OR
    v.name ILIKE '%машинн%обучен%'
'''
df47 = pd.read_sql_query(query_47, connection)
# Создаем список ключевых навыков
skills = ['SQL', 'Python', 'R', 'Pandas', 'Matplotlib']

# Создаем столбцы с сответствующими названиями и заполняем их нулями
for skill in skills:
    df47[skill] = 0

# Проверяем наличие ключевых слов и заменяем значения в соответствующем столбце на 1
for skill in skills:
    df47[skill] = df47['key_skills'].apply(lambda x: 1 if x is not None and skill in x else 0)

# Определяем функцию replace_with_salary, которая заменяет значения 1 на среднее значение зарплат
# или на одно из значений salary_from или salary_to, если одно из них отсутствует.

def replace_with_salary(row, skill):
    if row[skill] == 1:
        if not pd.isna(row['salary_from']) and not pd.isna(row['salary_to']):
            return (row['salary_from'] + row['salary_to']) / 2
        elif not pd.isna(row['salary_from']):
            return row['salary_from']
        elif not pd.isna(row['salary_to']):
            return row['salary_to']
    return row[skill]
# Применяем эту функцию к каждому столбцу навыков.
for skill in skills:
    df47[skill] = df47.apply(lambda row: replace_with_salary(row, skill), axis=1)
# Замена нулей на NaN для корректного подсчета среднего
df47[skills] = df47[skills].replace(0, np.nan)
df47[skills] = df47[skills].replace(1, np.nan)

# Подсчет среднего значения для каждого столбца навыков, игнорируя NaN
average_skills = df47[skills].mean(skipna=True)

print("Средние значения для каждого навыка):")
print(average_skills)

Итак, наибольшую прибавку в зарплате обеспечивает знание языка R. Причины этого не вполне понятны, для выяснения понадобится дополнительно исследование.

In [ ]:
connection.close()